/* Author: Jason Kingston 
Main styles 
*/

html {
    font-family: Verdana
}

body {
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
   
   font-size: 50px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

a {
    color: Aquamarine;
    font-size: 16px;
}


#phone {
    margin-top: 10px;
    padding-top: 10px;
}

#copyright {
    text-align: right;
}